<div data-marker-id="{{id}}" class="vac-marker {{#if rangeShow}}vac-ranged-marker{{/if}}"
    style="left: {{left}}; {{#if rangeShow}}width:{{width}};{{/if}} z-index: {{zIndex}}">
    {{#if showTooltip}}
    {{#if tooltipBody}}
    <div>
        <span class="vac-tooltip {{#if tooltipRight}}vac-right-side{{/if}}">
            <b>{{tooltipTime}}</b> - {{tooltipBody}}
        </span>
    </div>
    {{/if}}
    {{/if}}
</div>
